body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 500px;
  }
  
  h2 {
    color: #007bff;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #output {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .footer-image {
    display: block;
    margin: 20px auto; /* Adicionando margem para centralizar a imagem */
    max-width: 100%; /* Para garantir que a imagem não ultrapasse a largura do contêiner */
  }